body {
  font-family: Arial;
  color: black;
  font-size: 16px;
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}

h1 {
  font-family: Georgia;
  color: blue;
  background-color: lightgray;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

h2 {
  font-family: Georgia;
  color: darkred;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-align: left;
}

strong {
  font-weight: bold;
}
