
body {
    font-family: Arial, sans-serif;
    padding: 50px;
    background-color: #f4f4f4;
}

table {
    border-collapse: collapse;
    width: 500px;
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    margin: auto;
}

th {
    background-color: #666;
    color: white;
    padding: 15px;
    text-align: left;
    font-size: 1.1em;
    border-right: 2px solid white;
}

th:last-child {
    border-right: none;
}

td {
    padding: 12px 15px;
    color: #333;
    border-bottom: 1px solid #eee;
}

tfoot td {
    background-color: #666;
    color: white;
    padding: 10px 15px;
    font-size: 0.9em;
    border-top: 2px solid white;
}

.code-style {
    font-family: "Courier New", monospace;
    color: #ddd;
}