body {
  background-image: url("https://www.w3schools.com/css/img_tree.png");
  background-repeat: repeat-y;
  background-position: left top;
  background-attachment: fixed;
  margin-left: 200px;
  font-family: Arial, Helvetica, sans-serif;
}
